<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
	<div id="gameContainer">
		<canvas id="canvas"></canvas>
		<div id="playersList">
       		        <span id="playersList-Title">Users Connected:</span>
    	</div>
    </div>
    <div id="gameLogin">
    	<div id="gameLogin-background"></div>
    		<div id="gameLogin-forms">
    			<h1 id="gameLogin-title">MINI BRAWL</h1>
    			Name: <span id="gameLogin-requiredUsername">*Required field</span>
                </br>
    			<input type="text" id="gameLogin-username" autofocus>
    			</br></br>
    			Character:
    			</br></br>
    		    <div id="gameLogin-blackNinja" class="gameLogin-character"></div>
                <div id="gameLogin-whiteNinja" class="gameLogin-character"></div>
                <div class="gameLogin-character"></div>
                <div class="gameLogin-character"></div>
                <button id="gameLogin-start">START</button>
            </div>
    </div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/Player.js"></script>
	<script src="/js/client.js"></script>
</body>
</html>
