<!DOCTYPE HTML>
<html>
<head>
    <title>Mini Brawl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--GOOGLE FONTS-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato|Raleway">
</head>

<body>
    <div id="header">
        <nav style="left:0; padding-left:10px">
            <ul>
                <li>
                    <!--<span style="color:#fff;font-size:14px">Developed by:&nbsp;</span>-->
                    <a href="http://joshuaching.github.io">joshuaching.me</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="gameContainer">
        <canvas id="canvas"></canvas>
        <div id="playersList">
            <div id="playersList-title">LEADERBOARD</div>
            <div id="playersList-content"></div>
        </div>
        <div id="chat">
            <div id="chat-output">
                Welcome to Mini Brawl!
            </div>
            <form>
                <input id="chat-input" autocomplete="off" placeholder="Press enter to chat"/>
            </form>
        </div>
    </div>
    <div id="gameLogin">
    	<div id="gameLogin-background"></div>
    		<div id="gameLogin-forms">
    			<h1 id="gameLogin-title">MINI BRAWL</h1>
    			Name: <span id="gameLogin-requiredUsername">*Required field</span>
                </br>
    			<input type="text" id="gameLogin-username" autofocus>
    			</br></br>
    			Character:
    			</br></br>
    		    <div id="gameLogin-blackNinja" class="gameLogin-character"></div>
                <div id="gameLogin-whiteNinja" class="gameLogin-character"></div>
                <div id="gameLogin-knight" class="gameLogin-character"></div>
                <div id="gameLogin-joe" class="gameLogin-character"></div>
                <button id="gameLogin-start">START</button>
            </div>
    </div>

    <span style="color:#217dbb;text-align:center;display:block;clear:both;">
        <br>
        <span style="text-decoration: underline">INSTRUCTIONS</span> <br>
        arrow keys or w,a,d to move around <br>
        click to shoot projectiles
    </span>
    </br></br>
    <p style="color:#217dbb;text-align:center;display:block;clear:both;font-size:18px;">&#169; Joshua Ching 2015</p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/Player.js"></script>
    <script src="/js/Projectile.js"></script>
    <script src="/js/client.js"></script>
</body>
</html>
