html{
	font-family:'Lato',Verdana;
	background-color:#000000;
	min-width:900px;
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

/*HEADER NAV*/
#header{
	background-color:#217dbb;
	height:34px;
	width:100%;
	position:fixed;
	top:0%;
	left:0%;
	z-index: 1;
	margin:0;
	padding:0;
	opacity: 1.0;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

#header:hover{
	opacity: 1.0;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*main nav*/
nav{
	position:fixed;
	top:0%;
	right:0%;
	z-index: 2;
}

nav ul{
	margin:0;
	padding:0;
}

/*all list items*/
nav ul li{
	position:relative;
	width:230px;
	float:left;
	list-style: none;
	padding-top:5px;
	padding-bottom:5px
}

/*all list item links*/
nav ul li a{
	text-decoration:none;
	font-size: 14px;
	color:#FFF;
	border-bottom: 1px solid rgba(255,255,255,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*all list item links hover*/
nav ul li a:hover{
	border-color:#FFF;
}

/*hide child items*/
nav li ul{
	position:absolute;
	visibility:hidden;
    opacity:0;
	padding-top:5px;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*display child item when hovered*/
nav li:hover ul{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}

/*child item link style*/
nav ul li ul li a{
	color:#000000;
	border-bottom: 1px solid rgba(127,140,141,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*child item links style hover*/
nav ul li ul li a:hover{
	color:#000000;
	border-color:#000000;
}

/*GAME VIEW*/

canvas{
	float:left;
	border:1px solid #333333;
	border-bottom:none;
	border-right:none;
	background-color:#8bbcde;
	width:640px;
	height:350px;
}

#gameContainer{
	width:843px;
	margin:0 auto;
	margin-top:60px;
}

#playersList-title{
	font-weight:bold;
	text-align:center;
	padding:10px;
}

#playersList{
	width:180px;
	height:459px;
	float:right;
	padding:10px;
	border:1px solid #333333;
	background-color:black;
	color:#3498db;
}

#chat{
	width:640px;
	height:128px;
	border:1px solid #333333;
	border-right:none;
	background-color:black;
	float:left;
}

#chat-input{
	margin-top:2px;
	height:18px;
	width:634px;
}

#chat-output{
	background-color:white;
	width:636px;
	height:96px;
	overflow:auto;
	font-size:12px;
	padding:2px;
}

/*GAME LOGIN VIEW*/

#gameLogin{
	border:1px solid black;
	width:842px;
	height:480px;
	left:50%;
	margin-left:-421px;
	z-index:999;
	position:fixed;
}

#gameLogin-background{
	background:#333333;
	opacity:0.80;
	width:100%;
	height:100%;
	position:absolute;
}

#gameLogin-forms{
	color:#ffffff;
	position:absolute;
	background:#333333;
	padding:30px;
	border-radius:5px;
	margin: auto;
	top:0;
	bottom:0;
	right:0;
	left:0;
  	height:330px;
  	width:330px;
}

#gameLogin-title{
	text-align:center;
	letter-spacing:5px;
	padding:0px;
	margin: 0 0 10px 0;
}

input[type="text"]{
	border-radius:5px;
	width:300px;
	margin-top:5px;
	padding:10px;
	border: solid 3px #333333;
	font-size:16px;
}

input[type="text"]:focus,
input[type="text"].focus{
	border: solid 3px #3498db;
	outline:none;
}

#gameLogin-start{
	width:120px;
	height:40px;
	font-size:16px;
	background-color:#ecf0f1;
	outline:none;
	border:none;
	border-radius:5px;
	display:block;
	margin:0 auto;
}

#gameLogin-start:hover{
	background-color:#3498db;
}

.gameLogin-character{
	width:71px;
	height:71px;
	background-color:#ecf0f1;
	display:block;
	float:left;
	margin-right:5px;
	margin-bottom:20px;
	border: 3px #000000 solid;
}

.gameLogin-character:hover{
	background-color:#3498db;
}

#gameLogin-requiredUsername{
	display:none;
	color:#FF0000;
	font-size:12px;
}

#gameLogin-blackNinja{
	background-image: url("/img/BlackNinjaIcon.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#gameLogin-whiteNinja{
	background-image: url("/img/WhiteNinjaIcon.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#gameLogin-knight{
	background-image: url("/img/KnightIcon.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#gameLogin-joe{
	background-image: url("/img/JoeIcon.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
}
